@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x : hidden;
  }
}

::-webkit-scrollbar{
  height: .5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color:rgba(0, 201, 87, 0.5);
  border-radius: 5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ql-container {
  border : none !important;
}

.ql-editor:focus {
  border: 1px solid #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.ql-snow {
  font-family: 'Noto Sans KR', sans-serif !important;
}
.ql-font-serif {
  font-family: 'Noto Serif KR', serif !important;
}

.serif {
  font-family: 'Noto Serif KR', serif;
}