@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root{
  --primary:#2abf52;
  --secondary:rgb(98, 251, 56);
  --accent:rgb(190, 65, 46);
  --white:#fff;
  --light-white:#aaa;
  --black:#3d3d3d;
  --light-bg:#bbbbbb;
}

*{
  font-family: 'Noto Sans KR', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
 
::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: var(--green);
  border-radius: 5rem;
}

section{
  max-width: 1200px;
  margin:0 auto;
  padding:2rem;
}

.ql-container {
  border : none !important;
}

.ql-editor:focus {
  border: 1px solid #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

@media screen and ( max-width: 810px){
  html{
    font-size: 55%;
 }
}

@media screen and ( max-width: 390px){
  html{
    font-size: 50%;
 }
}